body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #DFB665;
} 

.carousel-inner {
  height: 90vh;
}

.carousel-item img{
  height: 40rem;
}

.carousel-caption {
  backdrop-filter: blur(10px);
}

.carousel-caption a, h5, p{
  font-weight: 900;
  color: white;
  user-select: none;
}

.carousel-caption a:hover {
  color: #006DFC;
}

.carousel-caption a:active {
  color: #5194ec;
}

/* PROJECTS STYLING */
.project-title {
  background-color: #ffff;
  padding: 2rem;
  text-align: center;
}

.project-title h3 {
  font-weight: 700;
}

/* Rock paper scissors */
.rock-paper-scissors-project-container {
  height: 100vh;
}

.rock-paper-scissors-project-container > .content {
  display: flex;
  height: 85%;
  padding: 2rem 10rem;
}

.content > .project-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
}

.content > .project-description p {
  color: black;
  font-weight: 600;
  line-height: 2.5rem;
}

.content > .project-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
}

.hand-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  padding: 20px;
}

.hand-container > #hand-btn {
  background-color: rgb(25, 25, 25);
  height: 15vh;
  width: 15vh;
  margin: 20px;
  border: 3px solid white;
  border-radius: 100%;
  cursor: pointer;
  transition: .2s ease-in-out 0s;
}

#hand-btn:hover {
  transform: scale(1.25);
  background: #FFF;
  border: 3px solid gray;
  color: #000;
}

#hand-btn i {
  font-size: 50px;
  cursor: pointer;
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  color: #ffff;
}

.result-par {
  font-size: 25px;
  font-weight: bold;
}

.moves, .score {
  font-size: 18px;
  font-weight: bold;
}

.warning {
  color: red;
  font-size: 16px;
  position: relative;
  top: 20px;
}


/* Arithmetic Calculator Project Design*/
.arithmetic-calculator-project-container {
  height: 100vh;
}

.arithmetic-calculator-project-container > .content {
  display: flex;
  height: 85%;
  padding: 2rem 10rem;
}

.arithmetic-calculator-project-container > .content > .project-container {
  width: fit-content;
  padding: 3rem 3.5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin-right: 4rem;
  display: flex;
  align-items: flex-start;
}

.prev-calculations {
  background-color: #636363;
  height: fit-content;
  width: 50%;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

#prev-values {
  font-size: 14px;
  color: rgb(237, 239, 241);
  font-weight: 400;
}

#result {
  border: none;
  outline: none;
  height: fit-content;
  width: 20vw;
  padding-left: 10px;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  background-color: #a4a5a5;
  font-weight: 500;
  user-select: none;
}

.btn-column {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  width: fit-content;
  margin-bottom: 10px;
}

.button {
  height: 4.3rem;
  width: 4.3rem;
  border: none;
  font-size: 1.8rem;
  color: #ffff;
  font-weight: 500;
  background-color: rgb(21, 21, 21);
  border-radius: 100%;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
  background-color: rgb(48, 48, 48);
}

.operator-btn > .button {
  background-color: orange;
  font-weight: 600;
  opacity: 0.6;
  transition: 0.3s;
}

.operator-btn > .button:hover {
  opacity: 1;
  background-color: rgb(252, 189, 73);
}

.update-btn-column {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  width: fit-content;
}

.update-btn-column > .button {
  width: 4.5vw;
  border-radius: 10px;
  height: 4.3rem;
  font-size: 1.2rem;
  background-color: rgba(255, 0, 0, 0.567);
  letter-spacing: 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.update-btn-column > .button:hover {
  opacity: 1;
  background-color: rgba(244, 44, 44, 0.567);
}

.update-btn-column > .parenthesis {
  background-color: orange;
  border-radius: 100%;
  font-weight: 600;
  opacity: 0.6;
  transition: 0.3s;
}

.update-btn-column > .parenthesis:hover {
  opacity: 1;
  background-color: rgb(252, 189, 73);
}


/* Todo App Project Design*/
.todo-app-project-container {
  height: 100vh;
}

.todo-app-project-container > .content {
  display: flex;
  height: 85%;
  padding: 2rem 10rem;
}

.todo-app-project-container > .content > .project-container {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: 0000;
  max-width: fit-content;
  max-height: 350px;
}

.title-container {
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
  text-align: center;
  color: #fff;
}

.input-and-btn-container {
  height: fit-content;
  margin-bottom: 1.5rem;
}

.input-and-btn-container > label {
  font-size: 1.3rem;
  font-weight: 500;
}

.input-and-btn {
  height: fit-content;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.input-and-btn-container > .input-and-btn > input[type=text] {
  border: none;
  outline: none;
  height: 2.5rem;
  width: 15vw;  
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  background-color: #f0f8ff;
  margin-right: 5px;
}

.todo-add-due-date {
  border: none;
  height: 2.5rem;
  width: 7.5vw;  
  border-top-left-radius: 5px; border-bottom-left-radius: 5px;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  background-color: #f0f8ff;
  margin-right: 5px;
  cursor: pointer;
}

.input-and-btn-container > .input-and-btn > button {
  height: 2.7rem;;
  border: none;
  font-size: 20px;
  background-color: rgb(16, 131, 16);
  color: #ffff;
  cursor: pointer;
  width: 3.5rem;
  font-weight: 400;
  transition: 0.3s;
}

.input-and-btn-container > .input-and-btn > button:hover {
  background-color: rgb(16, 172, 16);
}

/* Designing todo list display */
.list {
  visibility: hidden; /*Initially hidden if the array has no value*/
  max-height: 130px;
  overflow-y: auto;
  width: 410px;
}

.date-and-name-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2.5rem;
  align-items: center;
  margin-bottom: 10px;
}

.todo-due-date-list {
  width: 30%;
  color: #ffff;
  font-size: 15px;
}

.todo-name-list {
  width: 57%;
  color: #ffff;
  font-size: 15px;
}

.list-and-btn-container > .list > .date-and-name-list > button {
  height: 2.7rem;
  border: none;
  font-size: 15px;
  background-color: rgb(150, 12, 12);
  color: #ffff;
  cursor: pointer;
  width: 3.5rem;
  font-weight: 400;
  transition: 0.3s;
}

.list-and-btn-container > .list > .date-and-name-list > button:hover {
  background-color: rgb(191, 16, 16);
}  

/* Design scrollbar */
.list::-webkit-scrollbar {
  width: 5px;
  background-color: none;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgb(61, 61, 61);
  cursor: pointer;
}

